<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-share font-green-haze hide"></i>
            <span class="caption-subject font-green bold uppercase">锅炉效率</span>
            <span class="caption-helper">显示锅炉效率对比...</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div>
            <div id="site_statistics_TimeSeries" class="chart"> </div>
        </div>
    </div>
</div>
